<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tuofeng.bskyhunchbacktransport">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 10 定位权限适配 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 推送 -->
    <uses-permission android:name="android.permission.JPUSH_MESSAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".ui.activity.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.VehicleInformationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.SubscribeRouteActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.SetWithdrawalPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.AddBankCardProcessActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.AddBankCardProcessActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.BankCardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.CollectionInvitationsActivity"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.MyPurseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.DriverInformation2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.WayBillTaskActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.WayBillDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle" />
        <activity
            android:name=".ui.activity.HistoryWayBillDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle" />
        <activity
            android:name=".ui.activity.HistoricalWayBillActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.WayBillManagementActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle" />
        <activity
            android:name=".ui.activity.DriverInformationActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle" />
        <activity
            android:name=".ui.activity.ConfirmContractActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle" />
        <activity
            android:name=".ui.activity.ContractConfirmationActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.MessageCenterDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.InformationAuthenticationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.TeamCaptainCertificationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.DriverIdentificationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.TeamCaptainCertificationReview"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.VehicleCertificationInformationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.VehicleBasicInformationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.InformationAuthenticationBankCardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.SettingLoginPasswordActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.SetUpActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.FleetInformationActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppActivityStyle"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>